.carroussel {
    position: fixed;
    left: 25%;
    top: 25%;

    background-color: rgba($color: #000000, $alpha: .8);
    height: 50vh;
    width: 50vw;

    transform: scale(0);
    opacity: 0;
    transition: transform .5s, opacity .5s;
}

.carroussel__ouvrir {
    transform: scale(1);
    opacity: 1;
}